.explore2Comp-layout{
    /* background-color: #14141F; */
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

.explore2Comp-layout .explore2Comp-user{
    font-size: 26px;
    line-height: 34px;
    color: white;
    font-weight: bold;
    text-align: left;
}

.explore2Comp-layout .explore2Comp-wallet{
    color: #EBEBEB;
    text-align: left;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 2em;
}
.explore2Comp-layout .explore2Comp-select{
    background-color: #343444;
    color: #EBEBEB;
    border-color: #8A8AA0;
    padding: 0.5em;
    margin-right: 0.5em;
}

.explore2Comp-layout .explore2Comp-button{
    background-color: #343444;
    padding: 1em;
    color: white;
}