.activityItem2-layout{
    background-color: #343444;
    border-radius:10px;
    font-align: center;
    padding: 1em;
    margin: 1em;
    display : flex;
}

.activityItem2-layout .activityItem2-left{
    flex: 5
}

.activityItem2-layout .activityItem2-left .activityItem2-image{

}

.activityItem2-layout  .activityItem2-right{
    flex: 7;
    text-align: left;
    padding-left: 1em;
}

.activityItem2-layout  .activityItem2-right .activityItem2-title{
    font-size: 24px;
    line-height: 30px;
    color: white;
}

.activityItem2-layout  .activityItem2-right .activityItem2-author-text{
    font-size: 18px; 
    line-height: 28px;
    color: #EBEBEB;
}

.activityItem2-layout  .activityItem2-right .activityItem2-author-text .activityItem2-author{
    font-size: 16px;
    line-height: 26px;
    color: #5142FC;
}

.activityItem2-layout  .activityItem2-right .activityItem2-date{
    font-size: 18px;
    line-height:28px;
    color: #EBEBEB;
}