.createItemComp-layout{
    background-color: transparent;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

.createItemComp-layout .createItemComp-title-layout{
    display: flex;
    flex-direction: column;
    flex: 4;
    align-items: flex-start;
    padding-left: 3em;
    padding-top: 1em;
}

.createItemComp-layout .createItemComp-title{
    font-weight: bold;
    font-size: 1.5em;
    line-height: 26px;
    color: white;
    text-align: left;
    
}

.createItemComp-layout  .createItemComp-file-layout{
    width: 100%;
    position: relative;
    margin: 1em;
}

.createItemComp-layout  .createItemComp-file-layout .createItemComp-file-input{
    appearance: none;
    cursor: pointer;
    width: 100%;
    right: 0px;
    left: 0px;
    position: absolute;
    border-radius: .25rem!important;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    opacity: 0;
    height: 100%;
    caret-color: red;
}

.createItemComp-layout  .createItemComp-file-layout .createItemComp-file-div{
    justify-content:center;
    height: 100%;
    display: flex;
    border-width: 2px;
    background: transparent;
    border: 0.2px solid rgba(255, 255, 255, 0.41);
    box-shadow: 0px 21px 20px rgba(0, 0, 0, 0.23);
    border-radius: 10px;
    flex-direction: column;
}

.createItemComp-layout  .createItemComp-file-layout .createItemComp-file-div .createItemComp-svg-div{
    justify-content:center;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

.createItemComp-layout  .createItemComp-file-layout .createItemComp-file-div .createItemComp-svg-div .createItemComp-svg-title{
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height */
    color: #FFFFFF;
}

.createItemComp-layout  .createItemComp-file-layout .createItemComp-file-div .createItemComp-svg-div .createItemComp-svg-text{
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    /* identical to box height */


    color: rgba(255, 255, 255, 0.21);
}
.createItemComp-layout  .createItemComp-file-layout .createItemComp-file-div .createItemComp-file-btn{
    cursor: pointer;
    text-transform: none;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    padding-left:2rem;
    padding-right: 2rem;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-bottom: 0.5rem!important;
    padding-top: 0.5rem!important;
    margin: auto;
    background: linear-gradient(180deg, #79C652 0%, #325F50 100%);
    border-radius: 25.5px;
    color: white;
    border-color: white;
    border-width: 1px;
    margin-bottom: 1em;
}

.createItemComp-layout .createItemComp-method{
    border-radius: 10px;
    background-color: #343444;
    color: #EBEBEB;
    width: 100%;
    height: 46px;
    margin: 1em;
}

.createItemComp-layout .selected{
    background: linear-gradient(180deg, #79C652 0%, #325F50 100%);
    border-radius: 25.5px;
}

.createItemComp-layout .createItemComp-method .button-img{
    margin-right: 1em;
}

.createItemComp-layout .blogDetails-input1{
    background-color: transparent;
    border-radius: 5px 0% 0% 5px;
    border-color: #A1A9BA;
    padding:10px;
    width: 100%;
    margin: 1em;
    caret-color: white;
    color: white;
}

.createItemComp-layout .explore1Comp-select{
    background-color: #14141F;
    color: #EBEBEB;
    border-color: #8A8AA0;
    padding: 0.5em;
    width: -webkit-fill-available;
    margin: 1em;
    margin-top: 0px;
}

.createItemComp-layout .createItemComp-input{
    padding: 0.5em;
    background-color: #14141F;
    width: -webkit-fill-available;
    margin: 1em;
    margin-top: 0px;
    caret-color: white;
}

.createItemComp-layout .createItemComp-create-btn{
    padding: 1em 2m 1em 2em;
    background: linear-gradient(180deg, #79C652 0%, #325F50 100%);
    border-radius: 25.5px;
    color: white;
    border-color: white;
    border-width: 1px;
}

.createItemComp-layout .createItemComp-image{
    border-radius: 10px;
    width: 260px;
    height: 260px;
}

.createItemComp-layout .createAuction-method{
    background-color: transparent;
    color: #EBEBEB;
    width: 100%;
    height: 46px;
    margin: 1em;
    border: 0.5px solid #FFFFFF;
    border-radius: 25.5px;
}

.createItemComp-layout .createAuction-method .button-img{
    margin-right: 1em;
}

.createItemComp-layout .selected{
    color: #5142FC;
    background-color: white;
    cursor: none
}