.bidItem-layout{
    background-color: #14141F;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

.bidItem-layout .bidItem-title{
    font-weight: bold;
    font-size: 1.5em;
    line-height: 26px;
    color: white;
    text-align: left;
    margin: 1em;
}

.bidItem-layout  .bidItem-file-layout{
    width: 100%;
    height: 12rem;
    position: relative;
    margin: 1em;
}

.bidItem-layout  .bidItem-file-layout .bidItem-file-input{
    appearance: none;
    cursor: pointer;
    width: 100%;
    right: 0px;
    left: 0px;
    position: absolute;
    border-radius: .25rem!important;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    opacity: 0;
    height: 100%;
    caret-color: red;
}

.bidItem-layout  .bidItem-file-layout .bidItem-file-div{
    border-color: white!important;
    background-color: black!important;
    border-style: dashed;
    justify-content:center;
    height: 100%;
    display: flex;
    border-width: 2px;
}

.bidItem-layout  .bidItem-file-layout .bidItem-file-div .bidItem-file-btn{
    cursor: pointer;
    color: black;
    text-transform: none;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    padding-left:2rem;
    padding-right: 2rem;
    border-radius: 0.375rem !important;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-bottom: 1.5rem!important;
    padding-top: 1.5rem!important;
    margin: auto;
}

.bidItem-layout .bidItem-method{
    border-radius: 10px;
    background-color: #343444;
    color: #EBEBEB;
    width: 100%;
    height: 46px;
    margin: 1em;
}

.bidItem-layout .selected{
    color: #5142FC;
    background-color: white;
}

.bidItem-layout .bidItem-method .button-img{
    margin-right: 1em;
}

.bidItem-layout .blogDetails-input1{
    background-color: #14141F;
    border-radius: 5px 0% 0% 5px;
    border-color: #A1A9BA;
    padding:10px;
    width: 100%;
    margin: 1em;
    caret-color: white;
}

.bidItem-layout .explore1Comp-select{
    background-color: #14141F;
    color: #EBEBEB;
    border-color: #8A8AA0;
    padding: 0.5em;
    width: -webkit-fill-available;
    margin: 1em;
    margin-top: 0px;
}

.bidItem-layout .bidItem-input{
    padding: 0.5em;
    background-color: #14141F;
    width: -webkit-fill-available;
    margin: 1em;
    margin-top: 0px;
    caret-color: white;
}

.bidItem-layout .bidItem-create-btn{
    padding: 1em;
    border-radius: 100px;
    background-color: #5142FC;
    color: white;
}