.liveAuction-layout{
    background-color: transparent;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

.liveAuction-layout .liveAuction-layout-header{
    /* height: 700px;  */
    text-align: left;
}
.liveAuction-layout .liveAuction-layout-header .liveAuction-layout-container{
    margin-top:2em;
    padding: 1em 2em 2em 2em;
    margin-bottom: 3em;
}

.liveAuction-layout .liveAuction-title-container{
    margin-top: 2em;
    margin-bottom: 6em;
}
.liveAuction-layout .liveAuction-layout-header .liveAuction-button1-layout{
    /* background: linear-gradient(180deg, #79C652 0%, #325F50 100%); */
    /* border-radius: 25.5px; */
    width: fit-content;
    border: 0;
    padding: 1em 2em;
    background: #6FF67E;
    font-weight: 600;
}



.liveAuction-layout .liveAuction-layout-header .button2-layout{
    border-radius: 30px;
    border-color: #5142FC;
    background-color: white;
    margin-top: 1em;
    margin-right: 1em;
}
.liveAuction-layout .liveAuction-layout-header .button2-layout .button2-title{
    color: black;
    padding: 0.5em 1em;
}

.liveAuction-layout .liveAuction-layout-header .button2-layout .button2-title .button2-img{
    margin: 1em;
}
.liveAuction-layout .liveAuction-layout-header .liveAuction-button1-layout .button1-title{
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    text-align: center;
    margin:auto;
    color: #0A2119;
}

.liveAuction-layout .liveAuction-layout-header .liveAuction-button1-layout .button1-title .button1-img{
    margin: 1em;
}

.liveAuction-layout .liveAuction-layout-header .liveAuction-layout-title-white{
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 600;
    font-size: 65px;
    line-height: 81px;

    color: #FFFFFF;
}

.liveAuction-layout .liveAuction-layout-header .liveAuction-layout-title-violet{
    /* font-family: 'Lexend Deca'; */
    font-family: 'Lexend Deca' sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 75px;
    line-height: 94px;
    color: #6FF67E;
}
.explore-box {
    margin-top: 60px;
}

.liveAuction-layout .liveAuction-layout-header .liveAuction-layout-text{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: white;
    margin-left: 5px;
}

.liveAuction-layout .liveAuction-layout-header .liveAuction-layout-text .liveAuction-layout-caten{
    margin-left: 1em;
    margin-bottom: 2em;
}

.liveAuction-layout .liveAuction-layout-header .liveAuction-item-image{
    width: 100%;
    /* outline-color: red;
    outline-width: 2px;
    outline-style: solid; */
    box-shadow:
    14px -8px 0 -1px #163419,
    14px -9px 0 0px #59D667;
}
.liveAuction-layout .liveAuction-title{
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
    -webkit-text-stroke: initial;
    -webkit-text-stroke: 1px  #6FF67E;
    text-align: left;
    color: transparent;
    width: fit-content;
    border-bottom: 4px solid #6FF67E;
    position: relative;
}

.check-liveAuction {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 38px;
    text-align: left;
    color: white;
    width: fit-content;
    position: relative;
}
.liveAuction-layout .liveAuction-title-text{
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    flex: 6;
    color: #FFFFFF;
    width: 50%;
}


.liveAuction-layout .liveAuction-description{
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    color: #FFFFFF;
}
.liveAuction-layout .liveAuction-text{
    font-size: 14px;
    line-height:20px;
    color: white;
}

.liveAuction-layout .liveAuction-title-container .liveAuction-bar-layout{
    display: flex;
    flex-direction: row;
    background-image: url('../../assets/auctionBorder.png');
    background-size: contain;
    padding: 2em 5em;
    margin-bottom: 2em;
}
@media( max-width : 630px){
    .liveAuction-layout .liveAuction-layout-header .liveAuction-layout-title-violet{
        /* font-family: 'Lexend Deca'; */
        font-family: 'Lexend Deca' sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 42px;
        line-height: 52px;
        color: #6FF67E;
    }
    .liveAuction-layout .liveAuction-layout-header .liveAuction-layout-text{
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        color: white;
        margin-left: 0px;
    }
    .liveAuction-layout{
        text-align: center;
        padding-top: 0em;
        padding-bottom: 2em;
    }
    .liveAuction-layout .liveAuction-layout-header .liveAuction-button1-layout .button1-title{
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
    }
}