.liveAuction-layout{
    background-color: transparent;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

.liveAuction-layout .liveAuction-layout-header{
    /* height: 700px;  */
    text-align: left;
}
.liveAuction-layout .liveAuction-layout-header .liveAuction-layout-container{
    margin-top:2em;
    padding-bottom: 2em;
    border-bottom: 1px solid #4D7153;
}

.liveAuction-layout .liveAuction-title-container{
    margin-top: 2em;
}
.liveAuction-layout .liveAuction-layout-header .liveAuction-button1-layout{
    background: linear-gradient(180deg, #79C652 0%, #325F50 100%);
    border-radius: 25.5px;
    width: fit-content;
    padding-left: 1em;
}
.liveAuction-layout .liveAuction-layout-header .button2-layout{
    border-radius: 30px;
    border-color: #5142FC;
    background-color: white;
    margin-top: 1em;
    margin-right: 1em;
}
.liveAuction-layout .liveAuction-layout-header .button2-layout .button2-title{
    color: black;
    padding: 0.5em 1em;
}

.liveAuction-layout .liveAuction-layout-header .button2-layout .button2-title .button2-img{
    margin: 1em;
}
.liveAuction-layout .liveAuction-layout-header .liveAuction-button1-layout .button1-title{
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
}

.liveAuction-layout .liveAuction-layout-header .liveAuction-button1-layout .button1-title .button1-img{
    margin: 1em;
}

.liveAuction-layout .liveAuction-layout-header .liveAuction-layout-title-white{
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 600;
    font-size: 65px;
    line-height: 81px;

    color: #FFFFFF;
}

.liveAuction-layout .liveAuction-layout-header .liveAuction-layout-title-violet{
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 600;
    font-size: 65px;
    line-height: 81px;

    background: linear-gradient(174.93deg, #6BC663 49.43%, #0A382E 95.93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.liveAuction-layout .liveAuction-layout-header .liveAuction-layout-text{
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #4D7153;
}

.liveAuction-layout .liveAuction-layout-header .liveAuction-item-image{
    width: 100%
}
.liveAuction-layout .liveAuction-title{
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
    /* identical to box height */

    text-align: left;
    color: #FFFFFF;
}

.liveAuction-layout .liveAuction-description{
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    color: #FFFFFF;
}
.liveAuction-layout .liveAuction-text{
    font-size: 14px;
    line-height:20px;
    color: white;
}

.liveAuction-layout .liveAuction-title-container .liveAuction-bar-layout{
    display: flex;
    flex-direction: column;
}