.nav-wallet{
    border-radius: 10px;
    border-color: #212529;
    float: right;
    padding : 0.8em;
    background: linear-gradient(180deg, #79C652 0%, #325F50 100%);
    color: white!important;
    border-radius: 25.5px
}
