.footer-container{
    background-color: black;
    position: relative;
    padding-top: 1em;
    padding-bottom: 1em;
}
.footer-container .footer-section1{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.footer-container .footer-section1 .footer-section1-layout{
    display: flex;
    flex-direction: row;
    margin: auto;
}
.footer-container .footer-section1 .footer-sectiion1-text{
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    color: #FFFFFF;
    text-align: center;
}

.footer-container .footer-section1 .footer-sectiion1-text .footer-sectiion1-span{
    color: #5E9F50;
}
.footer-container .footer-section1  .footer-sectiion-icon{
    background-color: transparent;
    height:40px;
    width: 40px;
    margin-right: 2em;
    border-radius: 10%
}
.footer-container .footer-section1  .footer-sectiion-icon .footer-sectiion-icon-round{
    height: 30px;
    margin: 5px;
}

.footer-container .footer-section1  .footer-section1-col{
    position: relative;
    display: flex;
}

.footer-container .footer-section1  .footer-section1-col .footer-section1-col-wrap{
    width: 100%;
    position: relative;
    display: flex;
    padding: 10px;
    flex-direction: column;
}

.footer-section1  .footer-section1-col .footer-section1-col-wrap .footer-section1-col-title{
    color: #FFFFFF;
    font-family: "Helvetica", Sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.2em;
    margin-bottom: 20px;
    text-align: left;
}

.footer-section1  .footer-section1-col .footer-section1-col-wrap .footer-section1-col-list{
    width: 100%;
    position: relative;
    display:flex;
}

.footer-section1  .footer-section1-col .footer-section1-col-wrap .footer-section1-col-list .footer-section1-input{
    background-color:transparent;
    border-radius: 5px 0% 0% 5px;
    border-color: #A1A9BA;
    padding:10px;
}
 .footer-section1-col .footer-section1-col-wrap .foot-section1-col-ul{
    list-style-type: none;
    margin: 0;
    padding:0;
}
 .footer-section1-col .footer-section1-col-wrap .foot-section1-col-ul .footer-section1-col-li{
    align-items: center;
    font-size: inherit;
    padding-bottom: calc(15px/2);
    display:flex
}
 .footer-section1-col .footer-section1-col-wrap .foot-section1-col-ul .footer-section1-col-li .footer-section1-col-text{
    color: #A1A9BA;
    display:inline-block;
}
.footer-container .footer-copyright{
    /* padding-top:2em;
    padding-bottom: 2em; */
}
.footer-container .footer-copyright .footer-copyright-text{
    color: #A1A9BA;
    font-family: "Helvetica", Sans-serif;
    font-size: 0.8rem;
    font-weight: normal;
    text-transform: capitalize;
    line-height: 1.5em;
    text-align: center;
}